
<section class="flex space-x-10">

  <section class=" h-fit sticky top-0 pt-[92px] -mt-[92px]" >

    <div class="flex flex-col items-center justify-center  w-[500px] h-[500px] " style="border:2px dashed #dae1e7; ">
      <div class="flex flex-col items-center justify-center ">

        <ng-container *ngIf="((imagePath$ | async) | typeof ) === 'string' ">

          <div
            id="recipe-picture"
            [style.background-image]="'url('+ (imagePath$ | async) + ')'">
          </div>

        </ng-container>

        <ng-container *ngIf="recipe?.displayPhoto && ((imagePath$ | async) | typeof ) !== 'string'">
          <div
            id="recipe-picture"
            [style.background-image]="'url(' + recipe?.displayPhoto + ')'">
          </div>
        </ng-container>

        <div class="text-center">
          <mat-icon class="text-[4rem] !h-full !w-full text-gray-300">cloud_upload</mat-icon>
        </div>

        <span class="text-lg text-gray-600">Drag and drop here to upload</span>

        <input type="file" class="hidden" accept="image/*" (change)="fileChangeEvent($event)" #fileUploadElement>



        <button mat-raised-button color="primary" (click)="fileUploadElement.click()" class="mt-4">
          Or select Image
        </button>

      </div>
    </div>

  </section>


  <form class="flex flex-col justify-center flex-1 py-10 overflow-y-auto" [formGroup]="form" (ngSubmit)="emitOnSubmit()">

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [errorStateMatcher]="matcher" formControlName='name'>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [errorStateMatcher]="matcher" formControlName='description' [rows]="5"></textarea>
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Reference</mat-label>
      <textarea matInput [errorStateMatcher]="matcher" formControlName='reference' [rows]="5"></textarea>
      <mat-error *ngIf="form.get('reference')?.hasError('required')">
        Reference is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Youtube Id</mat-label>
      <input matInput formControlName='youtubeId'>
    </mat-form-field>



    <div class="flex space-x-4">

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Course</mat-label>
        <input matInput [errorStateMatcher]="matcher" formControlName='course'>
        <mat-error *ngIf="form.get('course')?.hasError('required')">
          Course is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Cuisine</mat-label>
        <input matInput [errorStateMatcher]="matcher" formControlName='cuisine'>
        <mat-error *ngIf="form.get('cuisine')?.hasError('required')">
          Cuisine is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <div class="flex space-x-4">

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Preparation time in minutes</mat-label>
        <input matInput type="number" [errorStateMatcher]="matcher" formControlName='prep_time'>
        <mat-error *ngIf="form.get('prep_time')?.hasError('required')">
          Preparation Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Cook time in minutes</mat-label>
        <input matInput type="number" [errorStateMatcher]="matcher" formControlName='cook_time'>
        <mat-error *ngIf="form.get('cook_time')?.hasError('required')">
          Cook Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Servings</mat-label>
        <input matInput type="number" [errorStateMatcher]="matcher" formControlName='servings'>
        <mat-error *ngIf="form.get('servings')?.hasError('required')">
          Servings is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>


    <label class="mt-2 text-2xl font-bold text-gray-600">Categories</label>

    <ul class="flex flex-wrap mb-4 ">
      <li *ngFor="let category of categoryList" class="mt-[12px] flex-[0_0_20%]">
        <mat-checkbox (change)="categoriesListener(category)" [checked]="categories.isSelected(category)">{{category}}</mat-checkbox>
      </li>
    </ul>

    <label class="text-2xl font-bold text-gray-600">Ingredients</label>

    <section class="py-2" formArrayName="ingredients">

      <div class="flex" *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">

        <mat-form-field class="w-[70px] mr-3 pb-0" >
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity">
        </mat-form-field>

        <mat-form-field class="w-full pb-0" >
          <mat-label>Ingridients</mat-label>
          <input matInput type="text" formControlName="ingredient" [errorStateMatcher]="matcher">
          <mat-error *ngIf="abstractControlToFormGroup(form.controls['ingredients']).controls[i]">
            Ingridient is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="i != 0" class="flex items-center justify-center pl-2 text-gray-600 cursor-pointer" (click)="deleteIngredients(i)" >
            <mat-icon class="text-lg">close</mat-icon>
        </div>

      </div>

      <div class="flex items-center justify-center text-center text-gray-600 cursor-pointer " (click)="addIngredient()">
          <mat-icon class="text-lg">add</mat-icon>
          <span class="mt-[7px]">Add ingredient</span>
      </div>

    </section>

    <label class="text-2xl font-bold text-gray-600">Instructions</label>


    <section class="pt-2 pb-4" formArrayName="instructions">


      <div class="flex" *ngFor="let instruction of instructions.controls; let i = index">

        <mat-form-field class="w-full pb-0" >
          <mat-label>Instructions</mat-label>
          <input matInput type="text" [formControlName]="i" [errorStateMatcher]="matcher">
          <mat-error *ngIf="abstractControlToFormGroup(form.controls['instructions']).controls[i]">
            Instruction is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="i != 0" class="flex items-center justify-center pl-2 text-gray-600 cursor-pointer" (click)="deleteInstructions(i)">
            <mat-icon class="text-lg">close</mat-icon>
        </div>

      </div>


      <div class="flex items-center justify-center text-center text-gray-600 cursor-pointer " (click)="addInstruction()">
          <mat-icon class="text-lg">add</mat-icon>
          <span class="mt-[7px]">Add instruction</span>
      </div>

    </section>

    <ng-content select="[submit]"></ng-content>

  </form>

</section>

