<app-header></app-header>


<div class="bottom-4 right-4 !fixed z-50 flex space-x-2" >

  <button mat-fab color="primary"  aria-label="Example icon button with a delete icon" routerLink="../" >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button mat-fab color="primary" aria-label="Example icon button with a delete icon"  (click)="sendCroppedImage()" >
    Crop
  </button>

</div>
<app-container class="justify-center flex items-center">

  <div class='float-left' >

      <image-cropper
        *ngIf="(imageChangedEvent$ | async) as imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="2/3"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>

  </div>


</app-container>
