<app-header></app-header>

<button mat-fab color="primary"  class="bottom-4 right-4 !fixed z-50" aria-label="Example icon button with a delete icon"  (click)="sendCroppedImage()" >
  Crop
</button>

<app-container class="justify-center flex items-center">

  <div class='float-left' >

      <image-cropper
        *ngIf="(imageChangedEvent$ | async) as imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3/4"
        [resizeToWidth]="500"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>

  </div>


</app-container>
