<app-header></app-header>

<app-container class="flex flex-col py-4" >
  <h1 class="text-2xl text-gray-700">List of Recipes</h1>

  <div class="bottom-4 right-4 !fixed z-50 space-x-2">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" routerLink="add">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteRecipe()">
      <mat-icon>delete</mat-icon>
    </button>

  </div>

  <app-recipe-table  [recipes]="(recipes$ | async)"></app-recipe-table>
</app-container>
