


<section class="flex justify-center items-center py-4">

  <div class="flex items-center justify-center h-[500px] flex-1 " style="border:2px dashed #dae1e7; ">
    <div class="flex flex-col justify-center items-center ">

      <img id="blah" [src]="imgSrc" alt="" />


      <input type="file" class="hidden" accept="image/*" (change)="fileChangeEvent($event)" #fileUploadElement>

      <div class="mt-4">
        <button mat-raised-button color="primary" (click)="fileUploadElement.click()" [disabled]="loadingService.loadingStatus" >
          Upload image
        </button>
      </div>

    </div>

  </div>

  <div class="text-gray-700 px-4">

      <button mat-raised-button color="primary" (click)="onDetect()" [disabled]="loadingService.loadingStatus" class="w-full">
        Detect Image
        <mat-icon>
          arrow_forward
        </mat-icon>
      </button>

  </div>

  <div class="flex items-center justify-center h-[500px] flex-1 " style="border:2px dashed #dae1e7; ">
    <div class="flex flex-col justify-center items-center ">

      <img [src]="resultImage" alt="" />

    </div>
  </div>

</section>

